language: cpp

env:
  global:
   - secure: "H1ZVbraqi9LAmdGM9O9VhFHJP6Uk1Ux2iZSQqmSUi+Ph4muk8vsr7Grqu6yPJOI71aSs73ugTxW3S6nYVzgB+nCqEHZk5RnjyDHDfvDAg0h+OsBP4u0dQ6IZMfFRhw6R8B+VpUKD4j687MLs3eUFMsRJ8/t+24+/T097dKYWij4="

matrix:
  include:
    - compiler: clang
      env: TASK="build"
    - compiler: gcc
      env: TASK="test"
    - compiler: gcc
      env: TASK="coverage"

addons:
  coverity_scan:
    project:
      name: "ssig/ssf"
      description: "Build submitted via Travis CI"
    notification_email: acnazarejr@gmail.com
    build_command_prepend: "mkdir build; cd build; cmake -DBUILD_TESTS=ON .."
    build_command:   "make"
    branch_pattern: coverity_scan  

before_install:
  - sudo add-apt-repository --yes ppa:ubuntu-toolchain-r/test
  - sudo add-apt-repository --yes ppa:boost-latest/ppa
  - sudo add-apt-repository --yes ppa:kalakris/cmake
  - sudo add-apt-repository --yes ppa:kubuntu-ppa/backports 
  - sudo apt-get update -qq

install:
  - sudo apt-get install -qq cmake
  - sudo apt-get install -qq libboost-filesystem1.54-dev libboost-log1.54-dev libboost-date-time1.54-dev libboost-thread1.54-dev 
  - sudo apt-get install -qq libcv-dev libcvaux-dev libhighgui-dev libopencv-dev
  - sudo apt-get install -qq gcc-4.8 g++-4.8
  - sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-4.8 90
  - sudo update-alternatives --install /usr/bin/gcov gcov /usr/bin/gcov-4.8 90  

script:
  - bash .travis.sh
  
after_success:
  - if [ "$TASK" == "coverage" ]; then bash <(curl -s https://codecov.io/bash); fi;
